.title__text__demi
    font-size: 5rem
    font-family: $font-poiret
    line-height: 1
    letter-spacing: 0.1em
    margin-bottom: 2rem
    font-weight: normal
    text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5)
    z-index: 700
@media screen and (max-width: $break-large)
    .title__text__demi
        font-size: 3.6rem

.btn-portfolio
    margin-left: 2rem !important
.btn-wrap
    margin-top: 4rem
    margin-left: 5rem
    a 
        text-decoration: none
    .btn
        display: inline-block
        font-size: 1rem
        color: #fff 
        background: $jaune
        line-height: 1
        font-weight: bold
        padding: 14px 32px
        border-radius: 50px
        letter-spacing: 0.1em
@media screen and (max-width: $break-large)
    .btn-wrap
        margin-top: 1rem
        margin-left: 2rem
    .btn
        font-size: 0.8rem
        padding: 12px 24px

.page-num
    position: absolute
    overflow-y: hidden
    right: 9%
    bottom: 12%
    font-size: 9rem
    font-family: $font-poiret
    color: #fff
    z-index: 200

// architecture
.couverture
    display: block
    position: relative
    width: 100%
    height: 100%
    margin: 0 8% 0 auto
    z-index: 0
    background-color: rgba(0, 0, 0, .50)
    // background-color: rgba(190, 0, 70, .50)
    background-size: cover
.image22
    display: block
    position: relative
    right: -7%
    width: 25%
    height: 75%
    margin: 0 8% 0 auto 
    box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6)
    z-index: 2
@media screen and (max-width: $break-large)
    .image22
        margin-right: 40px

.image_myworkarchitecture
    background-image: url("./img/archi.jpg")
    background-size: cover 

// webdesign
.image2
    display: block
    position: relative
    width: 25%
    height: 75%
    margin: 0 7.5% 0 auto 
    box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6)
    z-index: 2
@media screen and (max-width: $break-large)
    .image2
        margin-right: 40px


.image_myworkwebdesign
    background-image: url("./img/long web.jpg")
    background-size: cover 

.border-jaune-portfolio
    color: $jaune
    width: 25%
    height: 75%
    position: absolute
    top: 45%
    transform: translate(-6%,-37%)
    z-index: 1
    border: 2px dashed $jaune !important
    left: 27.5%

.border-jaune-portfolio2
    color: $jaune
    width: 25%
    height: 75%
    position: absolute
    top: 45%
    transform: translate(-6%,-37%)
    z-index: 1
    border: 2px dashed $jaune !important
    left: 71%
