.col-4
    float: left
.title-passion
    margin-top: 2rem
    margin-bottom: 2rem
    font-family: $font-family-raleway
    font-size: 1.6rem
    color: $mauve
.passions
    font-family: $font-family-raleway
    font-size: 0.9rem
    line-height: 1.5